<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список чеков</title>
</head>
<body>
    <h1>Список 10 последних чеков</h1>
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>Number</th>
            <th>Address</th>
            <th>cashTotalSum</th>
            <th>dateTime</th>
            <th>id</th>
            <th>key</th>
            <th>name</th>
            <th>pos</th>
            <th>price</th>
            <th>quantity</th>
            <th>sum</th>
            <th>tin</th>
            <th>totalSum</th>
            <th>vat10Sum</th>
            <th>vat10TotalSum</th>
            <th>vat18Sum</th>
            <th>vat18TotalSum</th>
           </tr>
<% for ( var i = 0; i < receipts.length; i++ ) { %>
    <tr>
        <td><%= i%></td>
        <td><%= receipts[i].address%></td>
        <td><%= receipts[i].cashTotalSum%></td>
        <td><%= receipts[i].dateTime%></td>
        <td><%= receipts[i].id%></td>
        <td><%= receipts[i].key%></td>
        <td><%= receipts[i].name%></td>
        <td><%= receipts[i].pos%></td>
        <td><%= receipts[i].price%></td>
        <td><%= receipts[i].quantity%></td>
        <td><%= receipts[i].sum%></td>
        <td><%= receipts[i].tin%></td>
        <td><%= receipts[i].totalSum%></td>
        <td><%= receipts[i].vat10Sum%></td>
        <td><%= receipts[i].vat10TotalSum%></td>
        <td><%= receipts[i].vat18Sum%></td>
        <td><%= receipts[i].vat18TotalSum%></td>
      </tr>
<% } %>

</table>
</body>
</html>